// css loading
.loading {
    display: block;
    @include fullscreen(true);
    background-color: $white-cl;
    background-attachment: fixed;
    z-index: 100;
    @include visible(0);
    @include transition($t);
    overflow: hidden;
    img {
        @include mid();
    }
    &.active {
        @include visible(1);
        @include transition($t);
    }
}

body.noScroll {
    overflow: hidden;
    position: fixed;
}
